    window.quizStartTime = new Date("{{ quiz_start }}");
    window.serverNow = new Date("{{ server_now }}");
    window.quizAllowed = {{ 'true' if quiz_allowed else 'false' }};
    window.answers = {{ answers | tojson | safe }};
    window.explanations = {{ explanations | tojson | safe }};
    window.quizAnswers = {{ answers | tojson }};
    window.explanations = {{ explanations | tojson }};